<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<h1> Last reports </h1>
{% if latest_reports_list %}
<p>Number of reports: {{report_count}}</p>
    <table>
    <tr><th>Title</th><th>Author</th><th>Date published</th></tr>
    {% for r in latest_reports_list %}
        <tr>
          <td>{{r.report.title}}</td>
          <td>{{r.report.author}}</td>
          <td text-align: right>{{r.report.pub_date}}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No reports are available.</p>
{% endif %}
